---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Votre PME Et Moi</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
